.topsection{
  margin: 0;
  text-align: center;
}
h1{
  font-family: "Sacramento", cursive;
  font-size: 52px;
  color: #66BFBF;
  font-weight: 400;
  font-style: normal;
}
h2{
  color: #66BFBF;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  animation: mymove 5s infinite;
}
.cloud1{
  margin-left: 400px;
  margin-top: 50px;
}
.cloud2{
  margin-right: 400px;
}
.topsection{
  background-color: #EAF6F6;
}
p{
  font-family: "Merriweather", serif;
  font-style: normal;
  color:#40514E;
}
.topmid{
  margin-top: 100px;
  text-align: center;
}
.buttons{
  text-align: center;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}
button{
  color:#66BFBF;
  border: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
footer{
  font-size: 30px;
  font-family: "Sacramento", cursive;
  color: #66BFBF;
}
.z{
  text-align: center;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: #dfe4e8

}
